APP_NAME="ATU Student Profile"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://student-profile.atu.kz

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=ru_RU

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=student_profile
DB_USERNAME=student_profile
DB_PASSWORD=change_this_password
MYSQL_ROOT_PASSWORD=change_this_root_password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
QUEUE_CONNECTION=database
CACHE_STORE=database
FILESYSTEM_DISK=public

MAIL_MAILER=log

VITE_APP_NAME="${APP_NAME}"

APP_PORT=8111
PHPMYADMIN_PORT=8112
